html {
    height: 100%;
}

body{
    height: 100%;
}

#map_canvas{
    width: 100%;
    height: 100%;
}

#map_canvas div {
    line-height: normal ! important;
}

.content{
    height: 100%;
    width: 100%;
}