@(message: String)

@import helper._


@main("Willkommen zur Hotelsuche") {

    <div style="display: none;" id="alertBox" class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> <span id="alertText"></span>
    </div>

    <h1>Willkommen zu Hotelsuche</h1>


    <form id="form" class="form-inline">

        <select id="city" name="city">
            @for(city <- City.values()){
                <option value="@city">@city</option>
            }
        </select>


        <div class="input-append date">
            <input id="begin" name="begin" type="text" class="span2" placeholder="Anreise"><span class="add-on"><i class="icon-th"></i></span>
        </div>
        <div class="input-append date">
            <input id="end" name="end" type="text" class="span2" placeholder="Abreise"><span class="add-on"><i class="icon-th"></i></span>
        </div>
        <button id="submit" class="btn" type="submit">Suchen</button>
        <img id="loading-indicator" src="@routes.Assets.at("img/ajax-loader.gif")" style="display: none;"/>
    </form>


    <div style="display: none;" id="map_canvas">

    </div>
}

