<div style="width: 700px;" id="hotel-modal" class="modal hide fade">
    <div id="modal-header" class="modal-header">
    </div>
    <div style="height: 400px;" id="modal-body" class="modal-body">
        <div class="row">
            <div>
                <div id="book-button"></div>
                <div style="max-width: 300px; height: 250px;" id="carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">

                    </div>

                    <a class="left carousel-control" href="#carousel" data-slide="prev">
                        &lsaquo;
                    </a>
                    <a class="right carousel-control" href="#carousel" data-slide="next">
                        &rsaquo;
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="hotel-info">

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn" aria-hidden="true">Close</button>
    </div>
</div>