<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Hotelsuche</a>
        <ul class="nav">
            <ul class="nav">
                <li class="active"><a href="#">Start</a></li>
            </ul>
        </ul>
    </div>
</div>
